@media print {
    .noPrint {
        display: none;
    }
    .printOnly {
        display: block;
    }
}

.printOnly {
    display: none;
}

header {
    height: 200px;
    background: #f3f3f3;
    padding: 20px;
    flex: none;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;
    flex-shrink: 0;*/
}

main {
    flex: 1 0 auto;
    width: 100%;
    /*display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;*/
}

.flex-item {
    height: 350px;
    width: 20%;
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
}

footer {
    height: 100px;
    background: #f3f3f3;
    color: grey;
    text-align: center;
    flex: none;
}

#btnDD {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

.btn {
    border:1px solid #ccc;
}

.edit:hover {
    cursor: pointer;
}

.scc {
    background: #feed01;
}
