config.ini

check-square-regular.svg:Zone.Identifier
times-circle-regular.svg:Zone.Identifier
trash-alt-regular.svg:Zone.Identifiercd 
user-check-solid.svg:Zone.Identifier
user-edit-solid.svg:Zone.Identifier

public/js/main.js
public/css/main.css

node_modules/

webpack.config-cache.js