config.ini

public/index.html
public/register.html
public/js/
public/js/
public/css/
public/abrechnung/
public/aushilfen/
public/auswerten/
public/eintragen/
public/mitarbeiter/
public/zeiten/

node_modules/
