{{> ../head }}

<body>

<header class="noPrint">
  <div class="header-container">
    {{> ../logo }}
    <div class="pagetitle">Abrechnungen</div>
  </div>
</header>

<main>
{{> ../alert }}

<div class="flexwrapper">
  <div id="insertBTN"></div>
</div>

</main>

</body>
</html>