<script>
  // IE CHECK
  var ua = window.navigator.userAgent;
  var isIE = /MSIE|Trident/.test(ua);
  var isEdge = /Edge/.test(ua);
  
  if (isIE || isEdge) {
    alert('Dieser Browser wird nicht unterstützt');
  }
</script>

<div class="container m-4" id="loginForm">
  <form>
    <div class="form-group col-md-4">
      <label for="username" class="m-1">Benutzername:</label>
      <input
        type="text"
        class="form-control m-1"
        placeholder="Benutzername"
        name="username"
        autocomplete="off"
        id="username"
        required
      />
    </div>
    <div class="form-group col-md-4">
      <label for="password">Passwort:</label>
      <input
        type="password"
        class="form-control m-1"
        placeholder="Passwort"
        name="password"
        id="password"
        required
      />
    </div>
    <input
      type="submit"
      name="login"
      class="btn ml-3 scc"
      value="Login"
    />
  </form>
  <a href="register.html" class="ml-3">Registrieren</a>
</div>

<script>
if (isIE || isEdge) {
  document.getElementById('loginForm').innerHTML =
    '<h1>Dieser Browser wird nicht unterstützt</h1>';
}
</script>
