{{> ../head }}

<body>

<header class="noPrint">
  <div class="header-container">
    {{> ../logo }}
    <div class="pagetitle"></div>
  </div>
</header>

<main>
{{> ../alert }}

<div class="XLSXwrapper" style="display:none">
  <div class="XLSXcontainer" id="abrechnungXLSX">
    <img src="../img/xlsx.svg" alt="we" class="imgXLSX">
    <p style="margin-bottom:0;">Abrechnungen</p>
    <div id="abrechnungZeitraum"></div>
  </div>
  <div class="XLSXcontainer" id="weListeXLSX">
    <img src="../img/xlsx.svg" alt="abrechnung" class="imgXLSX">
    <p style="margin-bottom:0;">Wochenendlisten</p style="margin-bottom:0;">
    <div id="weZeitraum"></div>
  </div>
</div>

</main>

</body>
</html>