{{> ../head }}

<body>

<header class="noPrint">
  <div class="header-container">
    {{> ../logo }}
    <div class="pagetitle"></div>
    <div class="logoutWrapper">
      <img src="../img/sign-out.svg" alt="Logout" class="lohnLogout">
    </div>
  </div>
</header>

<main>
{{> ../alert }}

<div class="XLSXwrapper" style="display:none">
  <div class="XLSXcontainer" id="abrechnungXLSX">
    <img src="../img/xlsx.svg" alt="we" class="imgXLSX">
    <p style="margin-bottom:0;">Abrechnungen</p>
    <p class="abrechnungZeitraum"></p>
  </div>
  <div class="XLSXcontainer" id="weListeXLSX">
    <img src="../img/xlsx.svg" alt="abrechnung" class="imgXLSX">
    <p style="margin-bottom:0;">Wochenendlisten</p>
    <p id="weZeitraum"></p>
  </div>
  <div class="XLSXcontainer" id="notdienstXLSX">
    <img src="../img/xlsx.svg" alt="notdienst" class="imgXLSX">
    <p style="margin-bottom:0">Notdienste</p>
    <p class="abrechnungZeitraum"></p>
  </div>
</div>

</main>

</body>
</html>