<script>
  // IE CHECK
  var ua = window.navigator.userAgent;
  var isIE = /MSIE|Trident/.test(ua);
  var isEdge = /Edge/.test(ua);
  
  if (isIE || isEdge) {
    alert('Dieser Browser wird nicht unterstützt');
  }
</script>

<div class="container m-4">
  <form id="regForm">
    <p>
      Benutzername ist der Teil <strong>vor</strong> deiner @starcar.de
      Adresse (z. B. <strong>bergen</strong>@starcar.de)
    </p>
    <div class="form-group col-md-4">
      <label for="username" class="m-1">Benutzername:</label>
      <input
        type="text"
        class="form-control m-1"
        placeholder="Benutzername"
        name="username"
        id="username"
        autocomplete="off"
        required
      />
    </div>
    <div class="form-group col-md-4">
      <label for="password1">Passwort:</label>
      <input
        type="password"
        class="form-control m-1"
        placeholder="Passwort"
        name="password1"
        id="password1"
        required
      />
    </div>
    <p style="display:none;color:red;" id="pwLaenge">
      <strong>Das Passwort muss mindestens 6 Zeichen haben</strong>
    </p>
    <div class="form-group col-md-4">
      <label for="password2">Passwort wiederholen:</label>
      <input
        type="password"
        class="form-control m-1"
        placeholder="Passwort"
        name="password2"
        id="password2"
        required
      />
    </div>
    <p style="display:none;color:red;" id="pwGleich">
      <strong>Passwörter stimmen nicht überein</strong>
    </p>
    <div class="form-group col-md-4">
      <label for="stationSelect">Station:</label>
      <select class="form-control m-1" name="station" id="station">
      </select>
    </div>
    <input
      type="submit"
      name="register"
      class="btn ml-3 scc"
      value="Registrieren"
    />
  </form>
  <a href="index.html" class="ml-3">Zurück</a>
</div>

<script>
if (isIE || isEdge) {
  document.getElementById('loginForm').innerHTML =
    '<h1>Dieser Browser wird nicht unterstützt</h1>';
}
</script>
