@import url('https://fonts.googleapis.com/css?family=Raleway:500,800&display=swap');

@media print {
  .noPrint {
    display: none;
  }
}

html {
  font-size: 16px;
}

body {
  color: #000;
  background-color: #fafafa;
}

header {
  height: 200px;
  color: #000;
  background-color: #fafafa;
}

.pagetitle {
  font-size: 7em;
  padding-top: 15px;
  text-align: center;
  font-weight: 200;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap;
  margin: 0;
}

main {
  flex: 1 0 auto;
  width: 100%;
}

.logo {
  position: absolute;
  top: 74px;
  left: 20px;
  width: 276px;
  height: 53px;
}

#fehlerAlert,
#infoAlert {
  position: fixed;
  display: none;
  font-size: 1.3rem;
  width: 40%;
  left: 30%;
  /* text-align: center; */
}

.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.eintragen-links {
  width: 300px;
  margin: 20px;
  padding: 20px;
  /* background-color: #2b2b28; */
  /* box-shadow: 12px 12px 2px 1px #62c4c3; */
  /* border-radius: 5px; */
}

.eintragen-rechts {
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.tabelle-links {
  width: 20%;
  margin: 20px;
  padding: 20px;
}

.tabelle-rechts {
  width: 70%;
  margin: 20px;
  padding: 20px;
}

#anlegenContainer {
  width: 300px;
  margin: auto;
  display: none;
}

#pnContainer {
  width: 600px;
  margin: auto;
  display: none;
}

.admin-item {
  height: 350px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  border: 1px solid;
}

#filter {
  padding: 30px;
  border: 1px solid;
}

.edit:hover,
.confirm:hover {
  cursor: pointer;
}

.scc {
  background-color: #000;
  color: #fafafa;
  border: 1px solid #000;
  font-weight: 500;
}

.scc:hover {
  background-color: #fafafa;
  color: #000;
}

.readmeText {
  font-size: 1.3rem;
  margin-bottom: 200px;
}

.cnav {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.cnav * {
  box-sizing: border-box;
}
.cnav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.3em;
  padding: 0;
}
.cnav a {
  padding: 0.5em 0;
  color: #000;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.cnav a:hover {
  font-weight: 800;
}
.cnav a.logout:hover {
  color: #bd0000;
}
.cnav a.current {
  font-weight: 800;
}
