.cnav {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.cnav * {
  box-sizing: border-box;
}
.cnav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.3em;
  padding: 0;
}
.cnav a {
  padding: 0.5em 0;
  color: #005691;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.cnav a:hover {
  font-weight: 800;
}
.cnav a.logout:hover {
  color: #bd0000;
}
.cnav a.current {
  font-weight: 800;
}
