#autoComplete_wrapper {
  position: relative;
  display: inline-block;
}

#autoComplete_list {
  position: absolute;
  z-index: 1000;
  padding: 0;
  margin-top: 0.15rem;
  width: 260px;
  background-color: #fafafa;
}

.autoComplete_result {
  margin: 0.15rem auto;
  padding: 0.6rem;
  /* max-width: 300px; */
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
}

.autoComplete_result::selection {
  color: rgba(#fff, 0);
  background-color: rgba(#fff, 0);
}

.autoComplete_result:hover {
  cursor: pointer;
  background-color: #e3e3e3;
}

.autoComplete_result:focus {
  outline: none;
  background-color: rgba(255, 248, 248, 0.9);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.autoComplete_highlighted {
  opacity: 1;
  color: #000;
  font-weight: bold;
}

.autoComplete_highlighted::selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.autoComplete_selected {
  cursor: pointer;
  background-color: rgba(255, 248, 248, 0.9);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
