.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.container-main {
  width: 300px;
  height: 500px;
  margin: 20px;
  padding: 20px;
}

.container-single {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
}

form > .form-group {
  width: 100%;
  box-sizing: border-box;
}

.container-tabelle-control {
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-tabelle-control > .scc {
  align-self: flex-start;
}

.container-tabelle-display {
  width: 70%;
  margin: 20px;
  padding: 20px;
}

.container-tabelle-display > table {
  text-align: center;
  width: 100%;
}

#bearbeitenContainer > table {
  text-align: center;
  width: 100%;
}

.table-ltr {
  text-align: left;
}

.table-rtl {
  text-align: right;
}

#anlegenContainer {
  width: 300px;
  height: 650px;
  margin: auto;
  padding: 20px;
  display: none;
}

#pnContainer {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  display: none;
}

#bearbeitenContainer {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}

#zeitenTable {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}

#maContainer {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
}

#weContainer {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}
