@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Rajdhani-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.header-container {
  height: 200px;
  color: #000;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagetitle {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size: 7vw;
  text-align: center;
  text-transform: uppercase;
}

.logoWrapper {
  height: 200px;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 17%;
  padding-left: 2%;
}

.logo {
  width: 100%;
}

.logoutWrapper {
  height: 200px;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  right: 0;
  /* width: 17%; */
  padding-right: 2%;
}

.lohnLogout {
  height: 50px;
}

.lohnLogout:hover {
  cursor: pointer;
}

#fehlerAlert,
#infoAlert {
  z-index: 999;
  position: absolute;
  display: none;
  font-size: 1.3rem;
  width: 40%;
  left: 30%;
}

#stationSelectContainer {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 0;
  right: 0;
  padding: 20px;
}
