@media print {
  .noPrint {
    display: none;
  }
}

html {
  font-size: 16px;
}

body {
  color: #000;
  background-color: #fafafa;
}

main {
  flex: 1 0 auto;
  width: 100%;
}

.edit:hover,
.confirm:hover,
.delete:hover,
.abmelden:hover {
  cursor: pointer;
}

.scc {
  background-color: #000;
  color: #fafafa;
  border: 1px solid #000;
  font-weight: 500;
}

.scc:hover {
  background-color: #fafafa;
  color: #000;
}

.readme-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 700px;
}

.readmeText {
  margin-bottom: 50px;
}

.page-item.active .page-link {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}

.page-link {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #dee2e6 !important;
}

.page-link:hover {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}

.angemeldetElement {
  position: relative;
  background-color: #000;
  color: #fafafa;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 8px;
}

.angemeldetElementVergangen {
  position: relative;
  background-color: #7a0000;
  color: #fafafa;
  border: 1px solid #7a0000;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 8px;
}

.angemeldetElement:hover,
.angemeldetElementVergangen:hover {
  cursor: pointer;
  background-color: #fafafa;
  color: #000;
}

.aeDelete {
  position: absolute;
  top: 14px;
  right: 2px;
  font-size: 30px;
  line-height: 0;
}

.aeDelete:hover {
  font-weight: 1000;
}

.imgXLSX {
  height: 100px;
}
