<div class="alert alert-danger" role="alert" id="fehlerAlert">
  <span id="fehlerText"></span>
  <button type="button" id="fehlerClose" class="close" aria-label="Close">&times;</button>
</div>

<div class="alert alert-info" role="alert" id="infoAlert">
  <span id="infoText"></span>
  <button type="button" id="infoClose" class="close" aria-label="Close">&times;</button>
</div>