{{> partials/head }}

<body>

<header class="noPrint">
  <div class="header-container">
    {{> partials/logo }}
    <div class="pagetitle">{{ htmlWebpackPlugin.options.title }}</div>
    {{> partials/stationSelect }}
  </div>
  {{> partials/nav }}
</header>

<main>
{{> partials/alert }}

{{#switch htmlWebpackPlugin.options.title }} 
  {{#case 'eintragen' }} {{> partials/seiten/eintragen }} {{/case}} 
  {{#case 'auswerten' }} {{> partials/seiten/auswerten }} {{/case}} 
  {{#case 'abrechnung' }} {{> partials/seiten/abrechnung }} {{/case}} 
  {{#case 'aushilfen' }} {{> partials/seiten/aushilfen }} {{/case}} 
  {{#case 'zeiten' }} {{> partials/seiten/zeiten }} {{/case}} 
  {{#case 'mitarbeiter' }} {{> partials/seiten/mitarbeiter }} {{/case}} 
  {{#case 'readme' }} {{> partials/seiten/readme }} {{/case}} 
{{/switch}}
</main>

</body>
</html>
